.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Turret Road', cursive;
    font-size: 1.4rem;
    padding: 40px 80px;
}
.header>img{
    width: 75px;
}
.header__options{
    display: flex;
    align-items: center;
}
.header__options>p{
    display: inline-block;
    margin-left: 70px;
    cursor: pointer;
    padding-bottom: 2px;
    transition: all 1s;
}
.header__options>p:hover{
    border-bottom: 1px solid var(--text2);
    padding-bottom: 1px;
}
.header__options>p:nth-child(4){
    border: 1px solid var(--text1);
    padding:10px 12px;
    transform: translateY(-10%);
    border-radius: 10px;
    transition: all 1s;
}
.header__options>p:nth-child(4):hover{
    background-color: var(--text3);
    font-weight: bold;
}
.header__open{
    display: none;
}
.ham{
    color: var(--text);
    font-size: 3rem !important;
}


/* Media Query */
@media screen and (max-width:980px)
{
    .header{
        padding: 40px 40px 40px 40px;
    }
}
@media screen and (max-width:825px)
{
    .header{
        padding: 40px 20px 40px 20px;
        font-size: 1.3rem;
    }
}

@media screen and (max-width:748px)
{
    .header__options{
        display: none;
    }
    .header__open{
        display: inline-block;
    }
}




/* --- END Media Query --- */
