.card{
    background-color: #112240;
    margin-top: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    padding: 10px 20px 25px 20px;
    transition: 1s all;
    border-radius: 10px;
    display: inline-block;
    width: 350px;
    cursor: pointer;
}
.card:hover{
    box-shadow: 1px 2px 8px rgba(255, 255, 255, 0.8);
}
.card__top{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.file__icon{
    font-size: 60px !important;
}
.card__links>span{
    margin-left: 10px;
    color: var(--text2);
    transition: 1s all;
}
.card__links>span:hover{
    color: var(--text);
}

.card__middle{
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
}
.card__title{
    font-size: 1.4rem;
    font-weight: bold;
    margin-bottom: 10px;
    color: var(--text);
    letter-spacing: 1px;
}
.card__desc{
    font-size: 15px;
    font-weight: 400;
    letter-spacing: 1.5px;
    color: var(--text1);
    margin-top: 10px;
}
.card__bottom{
    text-align: center;
}
.card__tech{
    display: flex;
    align-items: flex-start;
    color: var(--text3);
}
.card__tech>span{
    margin-right: 10px;
    font-weight: 100;
    font-size: 14px;
    letter-spacing: 1px;
    margin-top: 10px;
}



/* Media Query */
@media screen and (max-width:768px){
    .card{    
        width: 430px;
    }
    .card__title{
        font-size: 2rem;
        font-weight: bold;
        margin-bottom: 15px;
        color: var(--text);
        letter-spacing: 1px;
    }
    .card__desc{
        font-size: 15px;
        font-weight: 400;
        letter-spacing: 1.6px;
        color: var(--text1);
        margin-top: 10px;
        margin-bottom: 10px;
    }
}
@media screen and (max-width:454px){
    .card{
        background-color: #112240;
        margin-top: 10px;
        margin-right: 10px;
        margin-bottom: 10px;
        padding: 10px 20px 25px 20px;
        transition: 1s all;
        border-radius: 10px;
        display: inline-block;
        width: 390px;
        cursor: pointer;
    }
}

@media screen and (max-width:410px){
    .card{
        background-color: #112240;
        margin-top: 10px;
        margin-right: 10px;
        margin-bottom: 10px;
        padding: 10px 20px 25px 20px;
        transition: 1s all;
        border-radius: 10px;
        display: inline-block;
        width: 340px;
        cursor: pointer;
    }
}
@media screen and (max-width:365px){
    .card{
        background-color: #112240;
        margin-top: 10px;
        margin-right: 10px;
        margin-bottom: 10px;
        padding: 10px 20px 25px 20px;
        transition: 1s all;
        border-radius: 10px;
        display: inline-block;
        width: 300px;
        cursor: pointer;
    }
}

